---
import { Icon } from 'astro-icon/components';

type Address = {
  street_address?: string;
  city?: string;
  state?: string;
  zip_code?: string;
  country?: string;
};

type Props = {
  email: string;
  phone?: string;
  address?: Address;
};

const { email, phone, address } = Astro.props;

const hasAddress = address && Object.values(address).some(val => val !== undefined);

const cityLine = [
  address?.city ? `${address.city},` : "",
  address?.state,
  address?.zip_code
].filter(Boolean).join(" ");
---

<section id="contact">
  <div class="inner">
    <section>
      <form action={`https://formspree.io/${email}`} method="POST" class="contact-form">
        <div class="fields">
          <div class="field">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="field">
            <label for="email">Email</label>
            <input type="email" name="_replyto" id="email" />
          </div>
          <div class="field full">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="6"></textarea>
          </div>
        </div>

        <ul class="actions">
          <li><input type="submit" value="Send Message" class="special" /></li>
          <li><input type="reset" value="Clear" /></li>
        </ul>
      </form>
    </section>

<section class="split">
  <section>
    <div class="contact-method">
      <div class="header-wrapper">
        <div class="icon alt">
          <Icon name="fa6-solid:envelope" />
        </div>
        <h3>Email</h3>
      </div>
      <div class="details">
        <a href={`mailto:${email}`}>{email}</a>
      </div>
    </div>
  </section>

  {phone && (
    <section>
      <div class="contact-method">
        <div class="header-wrapper">
          <div class="icon alt">
            <Icon name="fa6-solid:phone" />
          </div>
          <h3>Phone</h3>
        </div>
        <div class="details">
          <a href={`tel:${phone}`}>{phone}</a>
        </div>
      </div>
    </section>
  )}

  {hasAddress && (
    <section>
      <div class="contact-method">
        <div class="header-wrapper">
          <div class="icon alt">
            <Icon name="fa6-solid:house" />
          </div>
          <h3>Address</h3>
        </div>
        <div class="details">
          <address>
            {address?.street_address && <>{address.street_address} <br /></>}
            {cityLine && <>{cityLine} <br /></>}
            {address?.country}
          </address>
        </div>
      </div>
    </section>
  )}
</section>
  </div>
</section>